*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	width: 400px;
	overflow: hidden;
	margin: 50px auto;
}
.show-calc {
	border: 2px solid black;
	height: 50px;
	width: 100%;
	font-size: 25px;
	line-height: 50px;
	text-align: right;
	padding: 0 10px;
}
.box {
	width: 25%;
	height: 50px;
	border: 1px solid black;
	font-size: 25px;
	line-height: 50px;
	float: left;
	text-align: center;
	transition: all .25s ease-in-out;
	background-color: grey;
	cursor: pointer;	
}
.box:hover {
	background: #fff;
}